body {
    background: black;
    font-family: "Aileron", sans-serif;
    font-size: 20px;
}

div.scroll {
  font-weight: 300;
  margin: 0 auto;
  margin-top: px;
  height: 56.5vh;
  width: 60%;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #454444;
  border-radius: 0px;
  border: 9px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
  margin: 0px;
  width: 100%;
}

th {
  top: 0;
  font-weight: 300;
  padding: 30px;
  font-size: 15px;
  position: sticky;
  background: black;
  color: yellow;
}

td {
  font-weight: 300;
  padding: 30px;
  font-size: 15px;
}

.holdings-table {
  color: white;
  font-weight: 300;
}

.us {
  color: yellow;
}

.num {
  font-family: "Ubuntu", sans-serif;
}

.nav-bar {
    position: fixed;
    width: 98%;
    top: 0;
    list-style: none;
    display: flex;
    flex-direction: horizontal;
    background: black;
    z-index: 100;
}

.nav-buttons {
    color: #ff6200; /* orange: #ff6200 yellow: #f0e813 purple: #9427e3 teal: #329da8 */    
    list-style: none;
    display: flex;
    flex-direction: horizontal;
    position: fixed;
    right: 10px;
    font-size: 18px;
}

.button {
    margin-right: 30px;
    
}
.button:hover {
    cursor: pointer;
    color: white;
}

#myVideo {
    position: fixed;
    width: 225px;
    left: -45px;
    top: 10px;
    
}

#myVideo:hover {
    cursor: pointer;
}

.body {
    position: absolute;
    color: white;
    margin: 0 auto;
    align-items: center;
    padding-left: 18%;  
    padding-top: 5%;  
    width: 64%;
}

h1 {
    font-size: 35px;
    margin-bottom: -10px;
    margin-left: 20px;
}

h2 {
    font-size: 22px;
    margin-left: 20px;
    margin-bottom: -40px;
}

.plotly-graph-div {
  margin-left: -40px;
}


.buyingpower {
    position: relative;
    margin-left: 20px;
    margin-top: -20px;
    display: flex;
    width: 91%;
    flex-direction: horizontal;
    border-bottom: 1px solid rgb(78, 78, 78);
}

.buy {
    width: 100%;
    color: white;
}

.buy2 {
    position: relative;
    right: 0%;
}

.summary {
    border-bottom: 1px solid rgb(78, 78, 78);
    color: white;
    position: relative;
    width: 92%;
    margin-left: 20px;
    line-height: 22px;
    word-spacing: 2px;
}

.des {
    font-size: 16px;
    margin-bottom: 25px;
    font-weight: 300;
}

.news-head {
    color: white;
    position: relative;
    left: 0%;
    margin-left: 20px;
    border-bottom: 1px solid rgb(78, 78, 78);
    width: 92%;
}

.news-list {
    list-style: none;
}

.news {
    position: relative;
    left: 0%;
    margin-left: -20px;
    color: white;
    list-style: none;
    margin-top: -25px;
}

.article {
    border-bottom: 1px solid rgb(78, 78, 78);
    width: 94%;
    padding-top: 15px;
}

.inner-article {
    list-style: none;
    display: flex;
    flex-direction: horizontal;
    margin-left: -4%;
}

.article-img {
    width: 60%;
    height: 90%;
    position: relative;

}

.article-summary {
    font-size: 15px;
    color: #ff6200;
}

.article-p {
    font-size: 12px;
    font-weight: bold;
}

.article-words {
    margin-bottom: 10px;
}

.contact {
    position: relative;
    color: #ff6200;
    text-align: center;
    margin-top: 100px;
    
}

.side-bar {
    position: fixed;
    background-color: #1e2124;
    border: 0.5px solid rgb(82, 82, 82);
    right: 20%;
    top: 15%;
    border-radius: 5px;
    border-top: 4px solid rgb(82, 82, 82);
    height: 500px;
    color: white;
    width: 250px;
}

.shares {
    list-style: none;
    margin-top: -20px;
}

.share {
    position: relative;
    left: -32.5%;
    width: 125%;
    font-size: 17px;
}

.holdings{
    position: relative;
    text-align: center;
    margin-bottom: 25px;
    width: 125%;
    font-size: 19px;
    left: -12.5%;
    font-weight: 700;
}
.share-details {
    list-style: none;
    display: flex;
    flex-direction: horizontal;
}

.value {
  position: absolute;
  right: 0;
  text-align: right;
}

.per {
    position: relative;
    margin-top: -19%;
    font-size: 13px;
}

.color {
    color: #f0e813; /* orange: #ff6200 yellow: #f0e813 purple: #9427e3 teal: #329da8 */    
}

.quantity {
    font-size: 12px;
    position: relative;
    left: 5%;
    top: 8%;
}

.row
{
    box-shadow: none;
    z-index: 1;
}
.row:hover
{
    transform: scale(1.01);
    box-shadow: 0px 2px 10px gray;
    z-index: 1;
}

