<!DOCTYPE html>
  <head>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/oxi4xqh.css">
    <title>QuantBot</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
  </head>
  <body>
    <div class="nav-bar">
      <a href="/">
        <video disableRemotePlayback autoplay muted loop id="myVideo">
          <source src="/static/logo.mp4" type="video/mp4">
        </video>
      </a>
      <ul class="nav-buttons">
        <li class="button color"><a style = "text-decoration: none; color: inherit" href="/portfolio">Portfolio</a></li>
        <li class="button color "><a style = "text-decoration: none; color: inherit" href="#news">News</a></li>
        <li class="button color"><a style = "text-decoration: none; color: white" href="/contact">Contact Us</a></li>
      </ul>
    </div>
  </header>
  <body>
    <div class="top-div">
      <p id="title">Contact us.</p>
      <p id="short-blurb">
        This project was started this summer (2021) by Alan Bergsneider and Josh Cunningham as a way to learn outside of our official channels for learning. 
        We both worked (our first) full-time software engineering internships this summer, and had other commitments such as summer coursework and interview
        prep among other things to keep us busy. If you're interested in having either (or both!) of us learn and work more about related or unrelated things 
        at your company, please reach out!  
      </p>
    </div>
    <div class="pictures">
      <ul style="display: flex; flex-direction: horizontal; margin: 0 auto;">
        <li>
          <ul>
            <li><img class="contact-images" src="/static/Headshot.jpeg"></li>
            <li>
              <p class="names">Alan Bergsneider</p>
              <ul class="social-bar">
                <li><a target="_blank" href="https://www.linkedin.com/in/alan-bergsneider/" class="linkedin"><img class="image" src="/static/linkedin.png"></a></li>
                <li><a target="_blank" href="https://github.com/alanb43/" class="github"><img class="image" src="/static/github.png"></a></li>
                <li><a target="_blank" href="https://drive.google.com/file/d/1BUlw9XlI0vPsh6iyMM5I-z9QUh5cf6rz/view?usp=sharing" class="resume"><img class="image resume" src="/static/resume.png"></a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <ul>
            <li><img class="contact-images" src="/static/josh_image.jpg"></li>
            <li>
              <p class="names">Josh Cunningham</p>
              <ul class="social-bar">
                <li><a target="_blank" href="https://www.linkedin.com/in/joshuarcunningham/" class="linkedin"><img class="image" src="/static/linkedin.png"></a></li>
                <li><a target="_blank" href="https://github.com/jcun-umich" class="github"><img class="image" src="/static/github.png"></a></li>
                <li><a target="_blank" href="https://docs.google.com/document/d/1m80brQ6bSwMCpcH9Jezf389aTEB6cvSEKv_-Bgg1cZE/edit" class="resume"><img class="image resume" src="/static/resume.png"></a></li>
              </ul>
            </li>
          </ul>
        </li>
        
      </ul>

    </div>
  </body>
